<?xml version="1.0" encoding="UTF-8"?>

<module configVersion="1.2">

  <!-- Base Module Properties -->
  <id>${project.parent.artifactId}</id>
  <name>${project.parent.name}</name>
  <version>${project.parent.version}</version>
  <package>org.openmrs.module.bloodbank</package>
  <author>Nidhro</author>
  <description>
    ${project.parent.description}
  </description>

  <activator>org.openmrs.module.bloodbank.BloodBankActivator</activator>

  <!-- <updateURL>https://modules.openmrs.org/modules/download/@MODULE_ID@/update.rdf</updateURL> -->
  <!-- /Base Module Properties -->

  <require_modules>
    <require_module>org.openmrs.module.webservices.rest</require_module>
    <require_module version="${openmrsAtomfeedVersion}">org.ict4h.openmrs.openmrs-atomfeed
    </require_module>
  </require_modules>

  <require_version>1.11.6</require_version>

  <!-- Extensions -->
  <extension>
    <point>org.openmrs.admin.list</point>
    <class>org.openmrs.module.bloodbank.extension.html.AdminList</class>
  </extension>

  <aware_of_modules>
    <aware_of_module>org.openmrs.module.legacyui</aware_of_module>
  </aware_of_modules>

  <mappingFiles>
    BloodDonor.hbm.xml
    DonorConcern.hbm.xml
    Questionnaire.hbm.xml
    BloodDonorPhysicalSuitability.hbm.xml
    BloodCompatibility.hbm.xml
    BloodStockTracing.hbm.xml
    BloodSerologyTest.hbm.xml
    BloodBankUtilDb.xml
  </mappingFiles>

  <!--<filter>
        <filter-name>CORSFilter</filter-name>
        <filter-class>org.openmrs.module.bloodbank.auth.CORSFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>CORSFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>-->

  <filter>
    <filter-name>CorsFilter</filter-name>
    <filter-class>org.apache.catalina.filters.CorsFilter</filter-class>
    <init-param>
      <param-name>cors.allowed.methods</param-name>
      <param-value>GET,POST,PUT,DELETE,HEAD,OPTIONS</param-value>
    </init-param>
    <init-param>
      <param-name>cors.allowed.headers</param-name>
      <param-value>
        Content-Type,X-Requested-With,accept,Origin,Access-Control-Request-Method,Access-Control-Request-Headers
      </param-value>
    </init-param>
    <init-param>
      <param-name>cors.exposed.headers</param-name>
      <param-value>Access-Control-Allow-Origin, Access-Control-Allow-Credentials</param-value>
    </init-param>
    <init-param>
      <param-name>cors.support.credentials</param-name>
      <param-value>true</param-value>
    </init-param>
    <init-param>
      <param-name>cors.preflight.maxage</param-name>
      <param-value>10</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>CorsFilter</filter-name>
    <url-pattern>*</url-pattern>
  </filter-mapping>

  <!-- AOP
    <advice>
        <point>org.openmrs.api.FormService</point>
        <class>@MODULE_PACKAGE@.advice.DuplicateFormAdvisor</class>
    </advice>
     /AOP -->


  <!-- Required Privileges
    <privilege>
        <name>Form Entry</name>
        <description>Allows user to access Form Entry pages/functions</description>
    </privilege>
     /Required Privileges -->


  <!-- Required Global Properties
    <globalProperty>
        <property>@MODULE_ID@.someProperty</property>
        <defaultValue></defaultValue>
        <description>
            A description of the global property goes here.  The description
            should explain enough for administrators to understand the purpose
            and possible values for the global property.
        </description>
    </globalProperty>
    /Required Global Properties -->

  <!--
    <dwr>
        <allow>
            <create creator="new" javascript="DWRFormEntryService">
                <param name="class" value="org.openmrs.module.@MODULE_ID@.web.DWRFormEntryService"/>
                <include method="enterForm"/>
            </create>
        </allow>

        <signatures>
            <![CDATA[
            import @MODULE_PACKAGE@.web.DWRFormEntryService;
            DWRFormEntryService.enterForm(Integer patientId, Integer formId, boolean useEncounter, List<String> fields);
            ]]>
        </signatures>
    </dwr>
    -->

  <!-- Servlets -->
  <!-- Accessed through the url /pageContext()/moduleServlet/<moduleId>/<servlet-name>
    <servlet>
        <servlet-name>formDownload</servlet-name>
        <servlet-class>@MODULE_PACKAGE@.web.FormDownloadServlet</servlet-class>
    </servlet>
    -->
  <!-- /Servlets -->


  <!-- Internationalization -->
  <!-- All message codes should start with @MODULE_ID@.* -->
  <messages>
    <lang>en</lang>
    <file>messages.properties</file>
  </messages>
  <!-- /Internationalization -->

</module>

